* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
   background-color: transparent;
   width: 5px;
   height: 0;
}

::-webkit-scrollbar-thumb {
   background-color: #E03754;
   border-radius: 10px;
}